@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  --sl-color-accent: #024AD8;
  scrollbar-gutter: stable;

}

.pagination-links>a {
  @apply shadow-none hover:border-gray-400;
}

header {
  @apply pb-0 bg-white/0 border-none;

  &>div {
    @apply px-3 py-7 container rounded-full mx-auto bg-white/40 border border-white/40 outline outline-black/7 backdrop-blur-sm;
  }

  & div {
    & .sl-flex:not(.title-wrapper):not(.dialog-frame) {
      @apply justify-end;
    }
  }

  & dialog {
    @apply border border-white/40 bg-[#aaaaaa]/40 backdrop-blur-sm rounded-3xl;
  }
}

nav {
  @apply mt-5 rounded-full mx-4;
}

.sidebar-pane {
  background-color: transparent;
}

.right-sidebar,
.content-panel,
.sidebar-pane,
summary,
nav {
  border: none;
}

.hero {
  padding-top: 0;
  padding-bottom: 3rem;

  & h1 {
    @apply text-gray-700;
  }

  & .tagline {
    @apply text-gray-400 text-2xl;
  }
}

.social-icons {
  @apply text-gray-700 dark:text-white;

  & svg {
    @apply fill-gray-700 dark:fill-white;
  }
}

.site-title {
  @apply text-gray-700 dark:text-gray-400;
}
