@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);


@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --font-forma-djrui: "FormaDJRUI";
}

@font-face {
  font-family: "FormaDJRUI";
  src:
    url("../../public/fonts/FormaDJRUI.woff2") format("woff2"),
    url("../../public/fonts/FormaDJRUI-Italic.woff") format("woff"),
    url("../../public/fonts/FormaDJRUI.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

:root {
  --sl-color-accent: #024AD8;
  --sl-font-sans: 'FormaDJRUI', var(--sl-font-sans);
  scrollbar-gutter: stable;

}

.pagination-links>a {
  @apply shadow-none hover:border-gray-400;
}

.sl-container:has(.hero) {
  @apply container mx-auto;
}

header {
  @apply pb-0 bg-white/0 border-none;

  &>div {
    @apply px-3 py-7 container rounded-full mx-auto bg-white/40 border border-white/40 outline outline-black/7 backdrop-blur-sm dark:bg-[#444444]/30 dark:border-[#F0EFED33]/60;
  }

  & div {
    & .sl-flex:not(.title-wrapper):not(.dialog-frame) {
      @apply justify-end;
    }
  }

  & dialog {
    @apply border border-white/40 bg-[#aaaaaa]/40 backdrop-blur-sm rounded-3xl;
  }
}

nav {
  @apply mt-5 rounded-full mx-4;
}

@media (width >=64rem
  /* 1024px */
) {
  .sidebar-pane {
    background-color: transparent;
  }
}

.right-sidebar,
.content-panel,
.sidebar-pane,
summary,
nav {
  border: none;
}

.hero {
  padding-top: 0;
  padding-bottom: 3rem;

  & h1 {
    @apply text-gray-700;
  }

  & .tagline {
    @apply text-gray-400 text-2xl;
  }

}

.social-icons {
  @apply text-gray-700 dark:text-white;

  & svg {
    @apply fill-gray-700 dark:fill-white;
  }
}

.site-title {
  & img {
    @apply rounded-full dark:border-2 dark:border-white dark:bg-white;
  }

  @apply text-gray-700 dark:text-gray-400;
}

.css-var {
  @apply block w-fit cursor-pointer border border-gray-400 px-2 py-1 rounded-md bg-zinc-50 dark:bg-zinc-800;
}

.component-state {
  @apply block cursor-default border border-gray-400 px-2 py-1 rounded-md bg-zinc-50 dark:bg-zinc-800;
}

.card-grid {
  @apply justify-items-center;
}
